@model IEnumerable<BoozeDotNet.Models.Product>

@{
    ViewData["Title"] = "Shop by Category";
}

<h1>You are shopping for @ViewData["CategoryName"]</h1>

<ul>
    @foreach (var product in Model) {
        <li>@product.Name</li>
    }
</ul>

<a class="btn btn-primary" href="javascript:history.go(-1)"><< Back</a>