@{
    ViewData["Title"] = "Shop our Store";
}

<h1>Shop our Store</h1>

<ul>
    <li>
        <a asp-controller="Shop" asp-action="Category" asp-route-categoryName="Beer">Beer</a>
    </li>
    <li>
        <a asp-controller="Shop" asp-action="Category" asp-route-CategoryName="Wine">Wine</a>
    </li>
    <li>
        <a asp-controller="Shop" asp-action="Category" asp-route-CategoryName="Tequila">Tequila</a>
    </li>
</ul>